.accordion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;

    &-item {
        $self: &;
        margin-bottom: 20px;
        &__title {
            color: #ffffff;
            @include gagalin();
            font-size: 14px;
            font-weight: 400;
            line-height: 28px;
            
            &:before {
                content: "";
                display: inline-flex;
                width: 0;
                height: 0;
                border: 5px solid transparent;
                border-top-color:#f9b43b;
                border-top-width: 7px;
                border-bottom-width: 0;
                margin-right: 10px;
                vertical-align: middle;
            }
    
        }

        &__content {
            display: flex;
            height: 0;
            overflow: hidden;
            padding-left: 20px;
        }

        &__avatar {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            flex: 0 0 100px;
            background-size: cover;
            &--richard {
                background: url('/img/content/team/richard.png') center center no-repeat;
                background-size: cover;
            }
        }

        &__desc {
            display: flex;
            padding-left: 18px;
            width: 50%;
            flex-wrap: wrap;
        }

        &__subtitle {
            color: #fff;
            @include ubuntu(bold);
            font-size: 14px;
            line-height: 1em;
        }

        &__text {
            color: #fff;
            @include ubuntu(light);
            font-size: 14px;
            line-height: 24px;
            padding-top: 15px;
        }
        
        &--selected {
            #{$self}__title {
                color: #f9b43b;
                
                &:before {
                    border-bottom-color:#f9b43b;
                    border-bottom-width: 7px;
                    border-top-width: 0;
                }
            }

            #{$self}__content {
                height: auto;
                padding-top: 10px;
                padding-bottom: 16px;
            }
        }
    }
}

