.btn {
    display: inline-block;
    background: $red;
    @include ubuntu(medium);
    font-size: rem(13px);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: rem(5px);
    padding: rem(9px) rem(15px);
    margin-left: rem(15px);
    

    &--phone {
        display: none; 
        @include phones {
            display: inline-block; 
        }
    }

    &--desktop {
        @include phones {
            display: none; 
        }
    }

    &--left {
        margin-left: 0;
    }

}