.feature {
    text-align: center;
    

    &__img {
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        min-width: rem(100px);
    }

    &__title {
        @include lifehack();
        font-size: rem(24px);
    }

    &__content {
        padding-top: rem(30px);

        @include phones {
            text-align: left;
            padding-left: rem(20px);
        }
    }
}


// .feature__img {
    
// }