.feature {
    text-align: center;

    &__img {
        display: flex;
        justify-content: center;
    }

    &__title {
        @include lifehack();
        font-size: rem(24px);
    }

    &__content {
        padding-top: rem(30px);
    }
}


// .feature__img {
    
// }