
.hero {
    background: url("../img/bg/hero-bg.jpg") center center / cover no-repeat;
    color: #fff;
    position: relative;
    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: url("../img/bg/hero-texture-bg.png");
    }
}

.hero__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.hero__desc {
    font-size: rem(62px);
    @include lifehack();
    line-height: 1;

    @include phones {
        font-size: rem(48px);
    }
}


.hero__content {
    display: flex;
    align-items: center;
    flex: 1;
    // padding-left: rem(26px);
    justify-content: center;
    // padding: 0 20%;
    max-width: rem(940px);

    @include tablets {
        flex-direction: column;
        padding: 0 20%;
    }
}

.hero__text, .hero__image {
    width: 50%;
    padding-top: rem(94px);
    padding-left: rem(12px);

    @include tablets {
        width: auto;
        padding-top: 0;
        padding-left: 0;
        text-align: center;
    }
}

.hero__image{
    padding-top: 0;
}