.scroll-down {
    // background: url(/img//icons/arrow-scroll.svg) center center;
    position: absolute;
    bottom: rem(40px);
    left: 50%;
    transform: translateX(-50%);
    width: rem(30px);
    height: rem(15px);
    border: none;
    &__icon {
        width: rem(30px);
        height: rem(15px);
        fill: #fff;
    }
}