.slider {
    width: 100%;
    height: rem(470px);
    position: relative;
    display: flex;

    
    @include tablets {
        height: 86%;
    }

    &__list {
        display: flex;
        height: 100%;
        width: 100%;
        overflow: hidden;

    }

    &__elem {
        display: flex;
        position: relative;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        margin-right: rem(100px);
        flex-shrink: 0;
        flex-grow: 1;
        max-width: 100%;
        
        @include tablets {
            flex-direction: column;
        }
    }

    &__col {    
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 0 rem(10px);
        height: 100%;

        &--padding {
            padding: rem(40px) rem(10px) rem(60px);

            @include tablets {
                padding: rem(40px) rem(80px) rem(60px);
                text-align: center;
            }
        }
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        img {   
            width: 100%;

            @include tablets {
                width: 80%;
            }
        }
    }

    &__text {
        color: #fff;
        @include ubuntu();
        font-size: rem(14px);
        line-height: rem(24px);
    }

    &__info {
        display: flex;
        align-items: flex-end;
        margin-top: auto;

        @include tablets {
            justify-content: center;
        }
    }

    &__cost {
        @include gagalin();
        font-size: rem(30px);
        color: $red;
        line-height: 1;
        margin-right: rem(10px);
        span {
            font-size: rem(50px);
        }
    }

    &__weight {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        @include tablets {
            bottom: initial;
            left: initial;
            top: 0;
            right: 0;
        }

        &-icon {
            width: rem(60px);
            height: rem(60px);
            fill: rgba($color: #fff, $alpha: .3);
        }
        
        &-text {
            @include gagalin();
            font-size: rem(14px);
            color: rgba($color: #fff, $alpha: .3);
        }

        &-numbers {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            line-height: normal;
            text-align: center;
            @include gagalin();
            font-size: rem(22px);
            color: rgba($color: #fff, $alpha: .3);
        }

    }

    &__arrow {
        // background: url(/img//icons/arrow-scroll.svg) center center;
        position: absolute;
        // bottom: rem(40px);
        width: rem(30px);
        height: rem(15px);
        border: none;

        &--left {
            left: 0;
            top: 50%;
            transform: translateX(-50%) rotate(90deg);
        }

        &--right {
            right: 0;
            top: 50%;
            transform: translateX(50%) rotate(-90deg);
        }

        &-icon {
            width: rem(30px);
            height: rem(15px);
            fill: #fff;
        }
    }

}