.socials {
    display: flex;
    flex-wrap: wrap;

    &__item {

        width: rem(20px);
        height: rem(20px);
        margin-right: rem(18px);

        &:last-child {
            margin-right: 0;
        }

    }

    &__icon {

        width: rem(20px);
        height: rem(20px);
        fill: #585858;
        &:hover {
            fill: #fff;
        }
    }
}