.teamacc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: rem(40px);

    &-item {
        $self: &;
        margin-bottom: rem(20px);
        &__title {
            color: #ffffff;
            @include gagalin();
            font-size: rem(14px);
            font-weight: 400;
            line-height: rem(28px);
            
            &:before {
                content: "";
                display: inline-flex;
                width: 0;
                height: 0;
                border: rem(5px) solid transparent;
                border-top-color:#f9b43b;
                border-top-width: rem(7px);
                border-bottom-width: 0;
                margin-right: rem(10px);
                vertical-align: middle;
            }
    
        }

        &__content {
            display: flex;
            height: 0;
            overflow: hidden;
            padding-left: rem(20px);
        }

        &__avatar {
            border-radius: 50%;
            width: rem(100px);
            height: rem(100px);
            flex: 0 0 rem(100px);
            background-size: cover;
            &--richard {
                background: url('/img/content/team/richard.png') center center no-repeat;
                background-size: cover;
            }
        }

        &__desc {
            display: flex;
            padding-left: rem(18px);
            width: 50%;
            flex-wrap: wrap;
        }

        &__subtitle {
            color: #fff;
            @include ubuntu(bold);
            font-size: rem(14px);
            line-height: 1em;
        }

        &__text {
            color: #fff;
            @include ubuntu(light);
            font-size: rem(14px);
            line-height: rem(24px);
            padding-top: rem(15px);
        }
        
        &--selected {
            #{$self}__title {
                color: #f9b43b;
                
                &:before {
                    border-bottom-color:#f9b43b;
                    border-bottom-width: rem(7px);
                    border-top-width: 0;
                }
            }

            #{$self}__content {
                height: auto;
                padding-top: rem(10px);
                padding-bottom: rem(16px);
            }
        }
    }
}

