.scroll {
    position: fixed;
    right: rem(40px);
    top: rem(90px);
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__dot {
        width: rem(16px);
        height: rem(16px);
        padding: rem(4px);
        border-radius: 50%;
        background-color: #fff;
        background-clip: content-box;
        border: 1px solid transparent;
        margin: rem(8px);
        margin-top: 0;
        margin-bottom: rem(5px);
   
        &--active {
            border: 1px solid #fff;
            
        }
    }
}